<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="w-75 border border-2 shadow p-3 row">
        <div class="col">
            <img class="img-fluid"
                src="https://img.freepik.com/premium-vector/secure-login-concept-illustration_251005-445.jpg?semt=ais_hybrid"
                alt="IMG">
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <h2 class="text-center mb-4">User SignIn</h2>
            <form action="" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" #email="ngModel" [(ngModel)]="formData.email" required email name="emailid" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                    <div *ngIf="email.invalid && email.touched" class="text-danger">
                        *invalid email
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" #pswd="ngModel" [(ngModel)]="formData.password" required name="pswd" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <div *ngIf="pswd.invalid && pswd.touched" class="text-danger">
                        *invalid password
                    </div>
                </div>
                <div>
                    <button class="btn btn-success" [disabled]="loginForm.invalid" type="submit">SignIn</button>
                </div>
            </form>
        </div>
    </div>
</div>